---
title: Smartphone Repair Ottawa - Cellphone Repair Shop
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Cell phone and tablet repairs and unlocking</h1>
    <p>Smartphone Repair Ottawa offers you the best repair services of high quality and with highly qualified technicians. Our staff is constantly updated to provide you with a better service. Don't waste your time looking for cheap low quality solutions, you can be sure that at Smartphone Repair Ottawa we use quality product for your repairs and at a super price.</p>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/contact" class="button">Contact</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Our Services</h2>
      <p>In addition to helping you with your phone repairs, at Smartphone Repair Ottawa we repair your laptop, PC, and tablet. And not only that! We also offer protection accessories for your device, so you never have to go through the repair process again. We also have sales of high-tech cellphones, so you can carry out your activities with greater comfort.</p>
      <p>We know that when it comes to your phone, tablet, computer or any personal device, trust is a top concern. But don't worry, trust Smartphone Repair Ottawa, we have the necessary sources to provide you with quality service at an excellent price, not to mention how friendly our team is, you will have an unforgettable experience. That is why we want Smartphone Repair Ottawa to be your first option when making your repair, purchase of accessories or phones. You will not regret!</p>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-3 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
