<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/repairs/" class="{% if page.url contains 'repairs' %}current{% endif %}">Repairs</a></li>
    <li><a href="{{site.baseurl}}/unlocks/" class="{% if page.url contains 'unlocks' %}current{% endif %}">Unlocks</a></li>
    <li><a href="{{site.baseurl}}/computer-repairs/" class="{% if page.url contains 'computer-repair' %}current{% endif %}">Computer Repairs</a></li>
    <li><a href="{{site.baseurl}}/shop/" class="{% if page.url contains 'shop' %}current{% endif %}">Shop</a></li>
    <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>